/* --- General --- */

body {
  /*font-family: 'Lora', 'Times New Roman', serif;*/
  font-weight: 400;
  font-stretch: normal;
  font-size: 1em;
  line-height: 1.8;
  font-family:  'Segoe UI', 'Lora','Hiragino Sans GB', STHeiti, 'Microsoft Yahei', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  position: relative;
  background: #FdFdFd;
  display: flex;
  flex-flow: column;
  height: 100vh;
}


/* --- nav.html -- */
.navbar-custom {
  border-top: 3px solid #333;
  border-bottom: 1px solid #e8e8e8;
}

.navbar-light .navbar-brand {
  color: #333;
  text-decoration: none;
}

.navbar-light .navbar-brand:hover{
  color: #1abc9c;
  transition: all 0.2s;
}

/* --- sidebar -- */
.sidebar {
  -ms-flex-order: 0;
  order: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 768px){
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    border-right: 1px solid rgba(0,0,0,.1);
  }
}


/* --- toc -- */
.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}


/* --- content -- */
.content {
  -ms-flex-order: 1;
  order: 1;
}


/* --- post_preview.html --- */
.post-preview{
  padding: 1.2em 0;
  border-bottom: 1px solid #eee;
}

.post-preview-header{
  margin-bottom: 10px;
}

.post-preview-content .post-read-more{
  font-weight: 800;
  float: right;

}

.post-preview-content .post-read-more:hover{
  color: #1abc9c;
  text-decoration:none; 
  transition: all 0.2s;
}

.post-preview-footer a:hover{
  text-decoration:none; 
  color: #1abc9c;
  transition: all 0.2s;
}

.post-preview-footer .cate-label{
  background: #FFF5DE; 
  padding: 1px 5px;
  border-radius: 2px;
  border: 1px solid #aaa;
  display: inline-block
}


.post-preview-footer .tag-label{
  background: rgb(215, 233, 204);
  padding: 1px 5px;
  border-radius: 2px;
  border: 1px solid #aaa;
  display: inline-block
}

.paginator{
  margin: 2rem 0;
}

/* --- footer.html --- */
footer {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 1px #eaeaea solid;
  margin-top: 50px;
  font-size: 14px;
}

footer a:hover{
  text-decoration:none; 
  color: #1abc9c;
  transition: all 0.2s;
}


@media only screen and (min-width: 768px){
  footer {
    padding: 50px 0;
  }

  footer .footer-links {
      font-size: 18px; 
  }
}


/* --- single.html --- */
.post-header {
  margin: 30px 0 20px;
}

.post-header h2 {
  font-size: 2em;
  line-height: 1.4;
  font-weight: 600;
}