<article class="post-preview">
    <header class="post-preview-header">
        <a href="{{ .Permalink }}">
            <h3 class="post-title">{{ .Title }}</h3>
            {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
            {{ end }}
            {{ if .Params.video }}
            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>
            {{ end }}
        </a>
        <div class="post-meta">
            {{ partial "post_meta.html" . }}
        </div>
    </header>

    <div class="post-preview-content">
        <p> {{ .Summary }} </p>
        {{ if .Truncated }}
        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ end }}
        

    </div>

    <div class="post-preview-footer">
        {{ if .Params.categories }}
        <div class="d-inline-block">
            {{ range .Params.categories }}
            <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/">
                <span class="cate-label">{{ . }}</span>
            </a>&nbsp;
            {{ end }}
        </div>
        &nbsp;|&nbsp;
        {{ end }}
        {{ if .Params.tags }}
        <i class="fas fa-tags"></i>&nbsp;
        <div class="d-inline-block">
            {{ range .Params.tags }}
            <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">
                <span class="tag-label">{{ . }}</span>
            </a>&nbsp;
            {{ end }}
        </div>
        {{ end }}
    </div>

</article>