{{ define "main" }}
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <!-- 左边栏 热门或相关文章 -->
      <div class="col-12 col-md-3 col-xl-2 {{with .Site.Params.debug }}sidebar{{end}}">
        {{with .Site.Params.debug }}
        热门 或 相关文章
        {{end}}
      </div>
      <div class="d-none d-xl-block col-xl-2 toc">
        {{with .Site.Params.debug }}
        热门评论 或 章节目录toc
        {{end}}
      </div>
      <main  role="main"  class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 content">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        {{with .Site.Params.debug }}
        <p>{{ printf "$.Site: %#v" $.Site }}</p>
        <p>{{ printf "site.params: %#v\n" $.Site.Params}}</p>
        <p>{{ printf "params: %#v\n" $.Params }}</p>
        <p>index-scratch: {{ printf "%#v" $.Scratch }}</p>
        <p>debugs: {{ printf "%#v" $.Site.RegularPages}}</p>
        {{end}}

        <div class="posts-list">
          {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ range $paginator.Pages }}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>

        
        {{ partial "pagination" . }}

      </main>
    </div>
  </div>
{{ end }}



